#outer-grid,
.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#outer-grid {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.inner-grid {
    gap: 5px;
}

.tile {
    background: linear-gradient(143deg, #9b9aff, #afb1ff);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile p {
    margin: 0;
    padding: 0;
}